form {
  width: 100%;
  /* margin: 0 auto; */
  display: grid;
  grid-template-columns: 150px 30% 80px 80px;
  align-items: center;
  justify-content: center;
  align-content: center;
  gap: 12px;
  height: 10vh;
  /* padding: 12px 16px; */
  background-color: #fff;
  /* border-radius: 8px; */
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

form select,
form input {
  height: 40px;
  border-radius: 6px;
  border: 1px solid #ddd;
}

.operator {
  text-align: center;
  font-size: 16px;
  cursor: pointer;
}

.description {
  padding: 0 12px;
}

.amount {
  text-align: center;
}

.submitBtn {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  border: none;
  background-color: #1abc9c;
  color: white;
  font-size: 18px;
  cursor: pointer;
}

.submitBtn:hover {
  background-color: #16a085;
}
